// out: false
 .aura-single-courses-content p{
    font-size: @font-size-md;
    line-height: @line-height-md;
    font-family: @font-family-ui;
    margin-bottom: @vertical-spacing-sm;
 }
 .aura-single-lesson-content p{
   font-size: @font-size-md;
   line-height: @line-height-md;
   font-family: @font-family-ui;
   margin-bottom: @vertical-spacing-sm;
 }