// out: false
@primary-color: #131436;
@secondary-color: #1b1c42;
@tertiary-color: #131436;
@primary-font-color: #e9eaff;

@primary-accent-color: #4dd0b9;

// Font sizes in px

@font-size-xxs: 10px;
@font-size-xs: 12px;
@font-size-sm: 14px;
@font-size-md: 16px;
@font-size-lg: 18px;
@font-size-xl: 20px;
@font-size-xxl: 24px;
@font-size-xxxl: 30px;

// font famylies Inter
@font-family: 'Inter', sans-serif;
@font-family-heading: 'Inter', sans-serif;
@font-family-body: 'Inter', sans-serif;

// font weights
@font-weight-regular: 400;
@font-weight-medium: 500;
@font-weight-bold: 700;
@font-weight-black: 900;
@font-weight-light: 300;
@font-weight-thin: 100;